h1{
  color:#595959;
  font-family: impact;
  text-align: justify;
}

p{
  text-align: justify;
  font-family: impact;
}

h2{
  text-align: justify;;
  color:#595959;
  font-family: impact;
}

ul{
  text-align: justify;;
  font-family: impact;
}
