
body{
  background-color: black;
  text-align: center;
  border-style: inset;
}

h1{
  color: white;
  font-family: impact;
  font-size:50px;
}

h2{
  color:grey;
  font-weight: 1000;
  font-family: impact;
  font-size: 35px;
}

p{
  color: white;
  font-family: impact;
  font-size:30px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    border: 1px solid #555;
    background-color: #f1f1f1;
    font-family: impact;
}

li {
  border-bottom: 1px solid #555;
}

li a {
    display: block;
    color: #000;
    padding:0px;
    text-decoration: none;
}

li a:hover {
    background-color: #555;
    color: white;
}

li a:active {
    background-color: red;
    color: white;
}
